# Python
__pycache__/
*.py[cod]
*.so
*.egg-info/

# Environments
.venv/
venv/

# Build
build/
dist/

# Caches
.cache/
pytest_cache/
.pytest_cache/
.coverage
htmlcov/

# Data/outputs
/cache/
/data/*
!/data/rand/
/data/rand/*
!/data/rand/rand_dataset.json
!/data/rand/rand_dataset_chinese.json
/models/
/log/
/out.old/
/out_no_chat_template/
/out_phyloLM/

# OS
.DS_Store


/uv.lock
/.env
/CLAUDE.md
/claude.md
